---
bodyClass: body-tag
description: Blog posts organized by tag
layout: layouts/base.vto
title: Tags
---
<h1>Tags</h1>

{{ for data of search.pages("type=tag", "tag") }}
  <a href="{{ data.url }}" class="tag is-big">{{ data.tag }}</a>
{{ /for }}
